{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <style>
        table{  width: 100%;
        }
        table tr:nth-child(odd) td{
            background-color: #c4c4c4;
        }

    </style>

    <h1>Booking For {{ bookingType }} Shifts</h1>
    {% if shifts %}
        <table>
            <tr>
                <th>
                    Service
                </th>
                <th>
                    Date and Time
                </th>
                <th style="width: 1%">
                    Hours
                </th>
                <th style="width: 1%">
                    Places
                </th>
                <th>
                    Book
                </th>
            </tr>

            {%  for shift in shifts %}
                <tr>
                    <td>
                        {{ shift.0.service.name }}
                    </td>
                    <td>
                        {{ shift.0.startDate }} at {{ shift.0.startTime }}
                    </td>
                    <td align="center">
                        {{ shift.0.hours }}
                    </td>
                    <td align="center">
                        {{ shift.0.placesAvailable }}
                    </td>
                    <td align="center">
                        {% if shift.1 %}
                            <div style="color: #414905">
                                Booked
                            </div>
                        {% elif shift.0.placesAvailable > 0 %}

                            <form method="post" action="/shifts/booking/{{ bookingType }}/" id="form">
                                {% csrf_token %}
                                <input type="hidden" name="shiftID" value={{ shift.0.shiftID }}>
                                <input type="submit" value="book">
                            </form>
                        {% else %}
                            <div style="color: darkred">
                                No Space
                            </div>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>
    {% else %}
        <b>No Shifts Available</b>
    {% endif %}
{% endblock %}
