{% extends 'base.html' %}

{% block title %}Skill Summary{% endblock %}

{% block content %}

    <style>

        table tr:nth-child(odd) td{
            background-color: #c4c4c4;
        }

    </style>

    <h1>{{ username }}'s Skills</h1>


    {% for type in summary %}

        {% if type %}

            <div style="font-weight: bold">
                {{ type.0.0.skillCategory.name }} </br></br>
            </div>

            <table>
                <tr>
                    <th style="width: 20%">
                        Skill
                    </th>
                    <th style="width: 1%">
                        Attempts
                    </th>
                    <th style="width: 1%">
                        Attempts Required
                    </th>
                    <th>
                        Details
                    </th>
                </tr>

                {% for skill in type %}
                    <tr>
                        <td>
                            {{ skill.0.name }}
                        </td>
                        <td align="center">
                            {{ skill.2 }}
                        </td>
                        <td align="center">
                            {{ skill.0.attemptsRequired }}
                        </td>
                        <td>
                            <ol type="1">
                                {% for attempt in skill.3 %}
                                    <li>
                                        {{ attempt.service }} on {{ attempt.date }} at {{ attempt.time }} under {{ attempt.supervisor }}
                                    </li>
                            {% endfor %}
                            </ol>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}

    {% if isStaff %}

        <form action="/skill/studentsSkills/" method="get">
        <input type="submit" value="return to student list" />
        </form>

    {% endif %}
{% endblock %}
