{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
<title>ECA Course</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
{#<style type="text/css">#}
{#/* DEMO ONLY */#}
{#.container .demo{text-align:center;}#}
{#.container .demo div{padding:8px 0;}#}
{#.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}#}
{#.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}#}
{#@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}#}
{#/* DEMO ONLY */#}
{#</style>#}
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/images/temp.jpeg');">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="/static/index.html">Emergency Care Assistant</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="127.0.0.1:8000/student/home">Home</a></li>
          <li><a class="drop" href="#">shifts</a>
            <ul>
              <li><a href="#">My Shifts</a></li>
                <li><a class="drop" href="#">Book Shifts</a>
                <ul>
                  <li><a href="#">Road Shifts</a></li>
                  <li><a href="#">Hospital Shifts</a></li>
                  <li><a href="#">ICU Shifts</a></li>
                </ul>
              </li>
              <li><a href="#">Edit Shifts</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Skills</a>
            <ul>
              <li><a href="#">My Skills</a></li>
              <li><a href="#">Log Skill</a></li>
              <li><a href="#">Edit Skills</a></li>
            </ul>
          </li>
          <li><a href="127.0.0.1:8000/accounts/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
{% block content %}
{% endblock %}
  </main>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="https://www.hatzolah.co.za/">Hatzolah Medical Rescue</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
  <div class="hoc clear">
      <img src="/static/images/hatzlogo.png" style="width:8%;height:8%;margin:0% 3%;" align="left" alt="Hatzolah Medical Rescue Logo">
      <img src="/static/images/bostonLogo.png" style="width:12%;height:8%;margin:0% 3%;" align="left" alt="Boston Collage Logo">
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/static/layout/scripts/jquery.min.js"></script>
<script src="/static/layout/scripts/jquery.backtotop.js"></script>
<script src="/static/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>